In [7]:
from langchain_google_genai import ChatGoogleGenerativeAI

api_key = "AIzaSyCGGK4RJRbJ9tiBx4BX2sqGA6f-d3Jkuy0"  # Replace with your secure API key

llm = ChatGoogleGenerativeAI(
    model="models/gemini-2.0-flash",  # This is the Gemini Flash model
    google_api_key=api_key,
    temperature=0.1
)

response = llm.invoke("Hi, Will you be a car dealership chatbot?")
print(response.content)

Okay, I can definitely act as a car dealership chatbot! I can help with a variety of tasks, such as:

*   **Answering common questions:** I can provide information about car models, pricing, financing options, service schedules, dealership hours, and more.
*   **Vehicle Inventory:** I can help you search for vehicles based on make, model, year, price range, features, and other criteria.
*   **Scheduling appointments:** I can help customers book test drives, service appointments, or consultations with sales representatives.
*   **Providing quotes:** I can generate estimated quotes for vehicles, including taxes, fees, and financing options.
*   **Lead generation:** I can collect customer information and pass it on to sales representatives for follow-up.
*   **Providing directions and contact information:** I can give customers directions to the dealership and provide contact information for different departments.
*   **Answering questions about financing and leasing:** I can explain the differences between financing and leasing, and provide information about interest rates, loan terms, and credit requirements.
*   **Explaining warranty information:** I can provide details about the warranties offered on vehicles.
*   **Handling basic customer service inquiries:** I can address customer concerns and resolve simple issues.

**To make this more useful, tell me:**

*   **What kind of dealership are you?** (e.g., Ford, Toyota, used cars, luxury vehicles)
*   **What specific information do you want me to focus on?** (e.g., current promotions, specific models)
*   **What is the name of the dealership?** (This helps me personalize responses.)

The more information you give me, the better I can simulate a real car dealership chatbot. Let's get started! What can I help you with today?

In [9]:
from langchain.utilities import SQLDatabase

db_user = "root"
db_password = "bheemesh"
db_host = "localhost"
db_name = "car_dealership"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}", sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE cars (
	car_id INTEGER NOT NULL AUTO_INCREMENT,
	brand VARCHAR(100) NOT NULL,
	name VARCHAR(100) NOT NULL,
	model ENUM('Sedan','SUV','Hatchback','Truck') NOT NULL,
	fuel_type ENUM('Petrol','Diesel','Electric','Hybrid') NOT NULL,
	price INTEGER NOT NULL,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (car_id)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from cars table:
car_id	brand	name	model	fuel_type	price	stock_quantity
1	Toyota	Innova	SUV	Diesel	2200000	12
2	Hyundai	i20	Hatchback	Petrol	850000	20
3	Honda	City	Sedan	Petrol	1200000	15
*/


CREATE TABLE offers (
	offer_id INTEGER NOT NULL AUTO_INCREMENT,
	car_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	offer_start_date DATE NOT NULL,
	offer_end_date DATE NOT NULL,
	PRIMARY KEY (offer_id),
	CONSTRAINT offers_ibfk_1 FOREIGN KEY(car_id) REFERENCES cars (car_id),
	CONSTRAINT offers_chk_1 CHECK ((`pct_discount` between 0 and 100)),
	CONSTRAINT offers_chk_2 CHECK ((`offer_end_date` > `offer_start_date`))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from offers table:
offer_id	car_id	pct_discount	offer_start_date	offer_end_date
1	1	10.00	2025-07-01	2025-07-31
2	2	5.50	2025-07-01	2025-07-15
3	3	7.25	2025-07-05	2025-07-20
*/

In [23]:
few_shots = [
    {
        "Question": "How many distinct brands are there in the cars table?",
        "SQLQuery": "SELECT COUNT(DISTINCT brand) FROM cars",
        "SQLResult": "[(4,)]",
        "Answer": "4 brands"
    },
    
    {
        "Question": "List all distinct fuel types available.",
        "SQLQuery": "SELECT DISTINCT fuel_type FROM cars",
        "SQLResult": "[('Diesel',), ('Petrol',), ('Hybrid',), ('Electric',)]",
        "Answer": "Diesel, Petrol, Hybrid, Electric"
    },
    
    {
        "Question": "What is the price of the Toyota Camry?",
        "SQLQuery": "SELECT price FROM cars WHERE brand = 'Toyota' AND name = 'Camry'",
        "SQLResult": "[(3200000,)]",
        "Answer": "3,200,000/- Rupees"
    },

    {
        "Question": "How many SUV cars are currently in stock?",
        "SQLQuery": "SELECT SUM(stock_quantity) FROM cars WHERE model = 'SUV'",
        "SQLResult": "[(31,)]",
        "Answer": "31 SUV cars"
    },

    {
        "Question": "How many distinct models are there in the cars table?",
        "SQLQuery": "SELECT COUNT(DISTINCT model) FROM cars",
        "SQLResult": "[(4,)]",
        "Answer": "4 models"
    },

    {
        "Question": "List all car names by Honda.",
        "SQLQuery": "SELECT DISTINCT name FROM cars WHERE brand = 'Honda'",
        "SQLResult": "[('City',), ('WR-V',)]",
        "Answer": "City, WR-V"
    },

    {
        "Question": "What is the highest priced car in the inventory?",
        "SQLQuery": "SELECT name, price FROM cars ORDER BY price DESC LIMIT 1",
        "SQLResult": "[('Hilux', 3300000)]",
        "Answer": "Hilux, priced at 3,300,000"
    },

    {
        "Question": "Which cars have a discount greater than 15%?",
        "SQLQuery": "SELECT c.name, o.pct_discount FROM cars c JOIN offers o ON c.car_id = o.car_id WHERE o.pct_discount > 15",
        "SQLResult": "[('Endeavour', 15.0), ('Hilux', 20.0), ('Kona Electric', 18.5)]",
        "Answer": "Endeavour (15.0%), Hilux (20.0%), Kona Electric (18.5%)"
    },

    {
        "Question": "Which brands offer hybrid cars?",
        "SQLQuery": "SELECT DISTINCT brand FROM cars WHERE fuel_type = 'Hybrid'",
        "SQLResult": "[('Toyota',)]",
        "Answer": "Toyota"
    }
]

In [25]:
from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(llm,db,verbose=True)

In [27]:
from langchain.embeddings import HuggingFaceEmbeddings

embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

C:\Users\chait\AppData\Local\Temp\ipykernel_37056\4239933620.py:3: LangChainDeprecationWarning: The class `HuggingFaceEmbeddings` was deprecated in LangChain 0.2.2 and will be removed in 1.0. An updated version of the class exists in the :class:`~langchain-huggingface package and should be used instead. To use it run `pip install -U :class:`~langchain-huggingface` and import as `from :class:`~langchain_huggingface import HuggingFaceEmbeddings``.
  embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

WARNING:tensorflow:From C:\Users\chait\anaconda3\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [29]:
to_vectorize = [" ".join(example.values()) for example in few_shots]

In [31]:
from langchain.vectorstores import Chroma

vectorstore = Chroma.from_texts(to_vectorize, embedding=embeddings, metadatas=few_shots)

In [33]:
from langchain.prompts import SemanticSimilarityExampleSelector

example_selector = SemanticSimilarityExampleSelector(
    vectorstore = vectorstore,
    k=2,
)

example_selector.select_examples({"Question": "How many Adidas T shirts I have left in my store?"})

[{'Question': 'How many distinct brands are there in the cars table?',
  'SQLResult': '[(4,)]',
  'Answer': '4 brands',
  'SQLQuery': 'SELECT COUNT(DISTINCT brand) FROM cars'},
 {'SQLQuery': 'SELECT COUNT(DISTINCT model) FROM cars',
  'Question': 'How many distinct models are there in the cars table?',
  'SQLResult': '[(4,)]',
  'Answer': '4 models'}]

In [35]:
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

In [39]:
_mysql_prompt = """You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.

Do NOT use markdown formatting (like triple backticks ```sql) in your response. Just give the raw SQL.

Unless the user specifies a specific number of results in the question, query for at most {top_k} results using the LIMIT clause as per MySQL. You may use ORDER BY to return the most informative results.

Never use SELECT * â€” query only the necessary columns needed to answer the question. Wrap all column names and table names in backticks (`) to denote them as delimited identifiers.

Use only the columns listed in the database schema. Do not invent or assume column names. Be careful about which table each column belongs to.

If the question refers to "today", use the MySQL function CURDATE() for filtering date columns.

Use the following format exactly:

Question: Question here  
SQLQuery: SQL query to run  
SQLResult: Result of the SQLQuery  
Answer: Final answer here

No preamble.
"""

In [43]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question","SQLQuery","SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [45]:
from langchain.prompts import FewShotPromptTemplate

few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=_mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [49]:
from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(llm,db,verbose=True,prompt=few_shot_prompt)

In [53]:
db_chain.invoke("How many distinct models are there in the cars table?")

> Entering new SQLDatabaseChain chain...
How many distinct models are there in the cars table?
SQLQuery:SELECT COUNT(DISTINCT `model`) FROM `cars`
SQLResult: [(4,)]
Answer:4
> Finished chain.

{'query': 'How many distinct models are there in the cars table?',
 'result': '4'}

In [57]:
db_chain.invoke("What is the second highest priced car in the inventory?")

> Entering new SQLDatabaseChain chain...
What is the second highest priced car in the inventory?
SQLQuery:SELECT `name`, `price` FROM `cars` ORDER BY `price` DESC LIMIT 1, 1
SQLResult: [('Camry', 3200000)]
Answer:Camry, priced at 3,200,000
> Finished chain.

{'query': 'What is the second highest priced car in the inventory?',
 'result': 'Camry, priced at 3,200,000'}